.padding-5 {
    padding: 5px;
}

.thumbnail-cover {
    margin: 3px;
}

#introImage {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.maximize-height {
    background: red;
    height: 100%;
    min-height: 100%;
}

.floating-box {
    display: inline-block;
}

.floating-box-container {
    text-align: center;
}

.mcontent-table {
    table-layout: fixed;
    width: 100%;
}

/*BOOTSTRAP OVERRIDE*/

#page-content-wrapper {
    padding: 0px;
}

.progress {
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    background-image: none !important;
}

/*BOOTSTRAP OVERRIDE--*/

/*
#divCarousel {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 50px;
    bottom: 20px;
    left: 10px;
    right: 20px;
}*/
